body { 
    background-image: url("/images/paul-earle-xJ2tjuUHD9M-unsplash.jpg");
    font-family: "Poppins", sans-serif;
    margin:0;
    padding:0;
}


.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Heading {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    padding: 2rem 2rem;
    margin: auto;
    text-align: center;
    text-shadow: 1px 2px #666;
    color: white;
    text-transform: uppercase;
    text-shadow: 5px 3px 3px darkslategrey;
}

.review {
    width: 25rem;
    height: 13rem;
    background-color: #ffd36a;
    margin: 1rem;
    /* border: solid orange; */
    border-radius: 15px;
}

.avatar {
    max-width: 75px;
    height: auto;
    float:left;
    margin: 0.75rem
}

.name {
    font-size: 24px;
    margin:8px
}

i {
    color: white;
    padding: 0.1rem;
    margin: auto;
}

.icons {
    margin:auto;
}

.reviewtop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    }

.namestar {
display: flex;
flex-direction: column;
margin:0;
padding:0;
justify-content: start;
align-items: flex-start;
}


.clear {
    background-color: transparent;
}
.para {
    margin:0;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

