
body {
    background-image: url("/images/nordwood-themes-F3Dde_9thd8-unsplash.jpg");
    background-size: 250%;
    font-family: "Poppins", sans-serif;
    /* background-color: darkslategrey; */
    color: white;
    margin:0; 
    padding:0; 
}

.Heading {
    font-size: 40px;
    padding: 2rem 2rem;
    margin: 2rem auto 3rem 0;
    /* margin: 3rem auto 1rem 0; */
    text-shadow: 1px 2px #666;
    color: white;
    text-transform: uppercase;
    text-shadow: 5px 3px 3px darkslategrey;
}

.para {
    margin: 0 auto 3rem 2rem;
    width: 70%;
}

.button {
    background-color: orange;
    padding: 15px 32px;
    margin: 1rem auto 20rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 5px;

}

.button:link {
    text-decoration: none;
}

.button:visited{
    color: white;
    text-decoration: none;
}

.button:hover{
    color: black;
    text-decoration: none;
}

@media screen and (min-width: 800px) {
    body {
        background-size: 150%; 
        background-repeat: none ;
    }
    .para {
        width: 40%;
    }
}

